@font-face {
  font-family: 'ylicons';
  src:  url('fonts/ylicons.eot?ky9af1');
  src:  url('fonts/ylicons.eot?ky9af1#iefix') format('embedded-opentype'),
    url('fonts/ylicons.ttf?ky9af1') format('truetype'),
    url('fonts/ylicons.woff?ky9af1') format('woff'),
    url('fonts/ylicons.svg?ky9af1#ylicons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.yl-icons {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ylicons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-control_system:before {
  content: "\e908";
}
.icon-power_management:before {
  content: "\e909";
}
.icon-power_station:before {
  content: "\e90a";
}
.icon-pv_monitor:before {
  content: "\e90b";
}
.icon-pv:before {
  content: "\e90c";
}
.icon-turbine_monitor:before {
  content: "\e90f";
}
.icon-weather_station:before {
  content: "\e910";
}
.icon-wind_farm:before {
  content: "\e911";
}
.icon-wind_turbine:before {
  content: "\e912";
}
.icon-check_order:before {
  content: "\e900";
}
.icon-complete_order:before {
  content: "\e901";
}
.icon-finish_order:before {
  content: "\e902";
}
.icon-running_order:before {
  content: "\e903";
}
.icon-sign_order:before {
  content: "\e904";
}
.icon-start_order:before {
  content: "\e905";
}
.icon-summary_order:before {
  content: "\e906";
}
.icon-verify_order:before {
  content: "\e907";
}
